./target
.classpath
.project
.settings

commons-gdx-core/target
commons-gdx-core/.classpath
commons-gdx-core/.project
commons-gdx-core/.settings

commons-gdx-artemis/target
commons-gdx-artemis/.classpath
commons-gdx-artemis/.project
commons-gdx-artemis/.settings

commons-gdx-android/target
commons-gdx-android/.classpath
commons-gdx-android/.project
commons-gdx-android/.settings

commons-gdx-desktop/target
commons-gdx-desktop/.classpath
commons-gdx-desktop/.project
commons-gdx-desktop/.settings

commons-gdx-resources/target
commons-gdx-resources/.classpath
commons-gdx-resources/.project
commons-gdx-resources/.settings

*.iml
.idea
